In [ ]:
#(1)_write a program to accept percentage from the user and display the grade according to the following criteria:

In [6]:
marks = int(input("enter the marks obtained:"))

if marks>90:
    print("Grade = A")
elif marks>=80 and marks<=90:
    print("Grade = B")
elif marks>=60 and marks<=80:
    print("Grade = C")
elif marks<60 :
    print("Grade = D")
else:
    print("Invalid Input!")

enter the marks obtained: 91

Grade = A

In [13]:
#(2)_write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:

In [11]:
cost_price = int(input("enter the price of a bike:"))

if cost_price >100000:
    print("Tax = 15%")
elif cost_price >50000 and cost_price <=100000:
    print("Tax = 10%")
elif cost_price <=50000:
    print("Tax = 5%")
else:
    print("invalid input!")

enter the price of a bike: 110000

Tax = 15%

In [12]:
#(3)_Accept any city from the user and display monuments of that city.

In [23]:
city = input("enter the name of city:")

if city.upper() == "DELHI":
    print("Red Fort")
elif city.upper() == "AGRA":
    print("Taj Mahal")
elif city.upper()== "JAIPUR":
    print("Jal Mahal")
else:
    print("invalid input!")

enter the name of city: JAIPUR

Jal Mahal

In [ ]:
#(4)_Check how many times a given number can be divided by 3 before it is less than or equal to 10.

In [23]:
n = int(input("enter the number:"))

if n <= 10:
    i= n%3
    print("i")
else:
    print("invalid input!")

enter the number: 5

i

In [ ]:
#(5)Why and when to use while loop in python give a detailed

In [ ]:
#(6)_Use nested while loop to print 3 different pattern.

In [1]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print("")
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
n = int(input('Enter number of rows : '))

i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows :  5

*
* *
* * *
* * * *
* * * * *

In [18]:
n =int(input("enter the number of rows :"))

i=1
k=1
while i<=n:
    j=1
    while j<=i:
        print("{:3d}".format(k), end = " ")
        j+=1
        k+=1
    print()
    i+=1

enter the number of rows : 7

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28

In [19]:
#(7)_Revese a while loop to display numbers from 10 to 1.

In [20]:
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1